
.containerNewsRender {
    display: inline-block;
    background-color: rgba(245, 245, 245, 0.637);
    border-right: 1px solid rgba(245, 245, 245, 0.247);;
    border-bottom: 1px solid rgba(245, 245, 245, 0.247);;
    box-shadow: 3px 3px 3px 0px rgba(100, 100, 100, 0.315);;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.containerContentNews{ 
    display: block;
    width: 100%;
}

.containerContentNews h3 {
    color: rgb(15, 15, 15);
    font-size: 18px;
    margin-left: 3%;
    font-family: 'Courier New';
}

.containerContentNews p {
    margin-left: 3%;
    color: rgba(15, 15, 15, 0.842);
    font-family: Arial;
}

.containerContentNews img {
    margin-top: 2%;
    margin-left: 28%;
}



.containerContentNews button{ 
margin-left: 32%;
background-color: rgba(61, 61, 61, 0.171);
border: none;
cursor:pointer;
font-family: 'Courier New';

}

@media (max-width: 470px) {
    .containerNewsRender {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2%;
        box-shadow: 3px 3px 3px 0px rgba(27, 26, 26, 0.623);;
    }
    .containerContentNews button {
        margin-left: 19%;
    }
 }