.bloqueado {
    filter: blur(3px);
    display:block;
    width: 100%;
    height: auto;
   
    /* background-image:url('../../../public/vintagebackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px); */
    background-color:rgba(0, 0, 0, 0.849);
}

.containerDetail {
    display:block;
    width: 100%;
    height: auto;
   
    /* background-image:url('../../../public/vintagebackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px); */
    background-color:rgba(0, 0, 0, 0.849);
}

.detailNewsContainer {
    display: block;
    /* background-color: rgba(82, 82, 82, 0.315); */
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: 2%;
    transition: transform .2s; /* Animation */
    background-color: rgba(245, 245, 245, 0.637);
    border-right: 1px solid rgba(24, 23, 23, 0.247);;
    border-bottom: 1px solid rgba(245, 245, 245, 0.247);;
    box-shadow: 3px 3px 3px 0px rgba(100, 100, 100, 0.11);;
}

.detailContentNews {
    margin-top: 10%;
}

.detailContentNews h3 {
    color: rgba(15, 15, 15, 0.842);
    margin-left: 3%;
    font-family: 'Courier New';
}

.detailContentNews p {
    margin-left: 3%;
    color: rgba(15, 15, 15, 0.842);
    font-family: Arial;
}

.detailContentNews img {
    margin-top: 2%;
    margin-left: 35%;
}