.bloqueado {
    filter: blur(3px);
    display: block;
    max-width: 100%;
    height: 100vh;
    height: auto;
    /* background-image:url('../../../public/vintagebackground.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(5px); */
    background-color: rgba(68, 66, 66, 0.479);
}

.containerDetail {
    display: block;
    width: 100%;
    height: 100vh;
    
    /* background-image:url('../../../public/vintagebackground.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(5px); */
    background-color: rgba(68, 66, 66, 0.479);
}

.detailNewsContainer {
    display: block;
    /* background-color: rgba(82, 82, 82, 0.315); */
    border-right: 1px solid rgba(61, 61, 61, 0.041);
    border-bottom: 1px solid rgba(61, 61, 61, 0.041);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.171);
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 2%;
    transition: transform .2s; /* Animation */
}



.detailContentNews h3 {
    color: rgba(15, 15, 15, 0.842);
    margin-left: 3%;
    font-family: 'Courier New';
}

.detailContentNews p {
    margin-left: 3%;
    color: rgba(15, 15, 15, 0.842);
    font-family: Arial;
}

.detailContentNews img {
    margin-top: 2%;
    margin-left: 35%;
}