
.containerCuriousRender {
    display: inline-block;
    border-right: 1px solid rgba(61, 61, 61, 0.041);
    border-bottom: 1px solid rgba(61, 61, 61, 0.041);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.171);
    width: 35%;
    margin-left: 10%;
    margin-top: 2%;
}

.containerCuriousContent{ 
    display: block;
    width: 100%;
}

.containerCuriousContent h3 {
    color: rgba(15, 15, 15, 0.842);
    margin-left: 3%;
    font-family: 'Courier New';
}



.containerCuriousContent img {
    margin-left: 30%;
}


.containerCuriousContent button{ 
    margin-left: 30%;
background-color: rgba(61, 61, 61, 0.171);
border: none;
cursor:pointer;
font-family: 'Courier New';
}
