
.containerCuriousRender {
    display: inline-block;
    background-color: rgba(245, 245, 245, 0.637);
    border-right: 1px solid rgba(245, 245, 245, 0.247);;
    border-bottom: 1px solid rgba(245, 245, 245, 0.247);;
    box-shadow: 3px 3px 3px 0px rgba(100, 100, 100, 0.315);;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.containerCuriousContent{ 
    display: block;
    width: 100%;
}

.containerCuriousContent h3 {
    color: rgb(15, 15, 15);
    margin-left: 3%;
    font-size: 18px;
    font-family: 'Courier New';
}



.containerCuriousContent img {
    margin-left: 35%;
    
}


.containerCuriousContent button{ 
    margin-left: 25%;
background-color: rgba(61, 61, 61, 0.171);
border: none;
cursor:pointer;
font-family: 'Courier New';
}

@media (max-width: 470px) {
    .containerCuriousRender {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2%;
        box-shadow: 3px 3px 3px 0px rgba(27, 26, 26, 0.623);;
    }
    .containerCuriousContent button {
        margin-left: 13%;
        font-size: 14px;
    }
    .containerCuriousContent img {
        margin-left: 39%;
    }
 }
